*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
    width: 300px;
    padding-top: 2rem;
}

form {
    width: 100%;
    background-color: aliceblue;
    padding: 1.2rem;
}

form a {
    display: inline-block;
    margin-top: 3px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: .75em;
    margin-bottom: 1em;
}

button {
    display: inline-block;
    width: 100%;
    padding: .75em;
    font-size: inherit;
}

.home-msg {
    margin: 20px auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-msg p {
    margin: 0;
    font-size: 1.25em;
}

.home-msg span a {
    text-decoration: none;
    font-size: 1rem;
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 5px;
    padding: .6em 1em;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-link {
    font-weight: 700;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}